body {
	font-family: Arial;
}

ul, li, h2, input {
	display: inline;
	margin:0;
	padding:0;
}

ul {
	float:right;
	margin-right: 25px;
	margin-top: 25px;

}

h2 {
	margin-right: 20px
}

#cards, #marquee {
	overflow: auto;
}

#marquee {
	width: 575px;
	margin: 25px auto;
	text-align: center;
	border: 1px solid black;
}

#marquee h1 {
	display: inline-block;
}

#marquee h1 {
	margin-left: 25px;
	float:left;
}

#cards {
	margin: 0 auto;
	padding: 5px;
	width: 560px;
}

#cards div {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	float: left;
	margin: 5px;
	border-radius: 5px;
	display: table;
}

#cards p {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.hidden_card {
	background-color: #ffaacc;
}

.matched_card {
	background-color: #CCCCCC;
}

